* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: #ededed;
    margin: 0;
    padding: 0;
    height: 100%;
}

#logincontainer {
    min-height: 100vh;
    position: relative;
}

#loginbody {
    padding: 10px;
    padding-bottom: 60px;
}

#loginfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

form {
    margin: auto;
    width: 80%;
}

#login {
    margin: auto;
    border: none;
}

.loginform {
    display: block;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
    font-size: 1.2rem;
    width: 100%;
}

button[type="submit"] {
    margin: auto;
    background-color: black;
    color: #ededed;
    font-size: 1.2rem;
    width: 100%;
    height: 40px;
    border-radius: 20px;
}

#logo {
    margin: 20% 20% 20% 20%;
    width: 60%;
}

footer {
    display: block;
    width: 100%;
}

#forgot {
    position: absolute;
    right: 15%;
    color: #808080;
}

#needhelp {
    position: absolute;
    left: 15%;
    color: #808080;
}

a {
    text-decoration: none;
    color: black;
}

.inputtxt {
    transform: translateY(46px);
    z-index: -1;
    pointer-events: none;
    font-size: 1.4em;
    color: #808080;
}

.moveinput {
    animation: inputtxt 1s forwards;
    animation-timing-function: cubic-bezier(.28, -0.45, .05, 1);
}

@keyframes inputtxt {
    100% {
        transform: translateY(10px);
        font-size: 1em;
        padding-bottom: .2em;
    }
}

#menu {
    padding-top: 80px;
    width: 80%;
    margin: auto;
}

.menubar {
    margin: auto;
    background-color: #3B3B3B;
    color: #ededed;
    font-size: 1.2rem;
    width: 100%;
    height: 60px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.hide {
    animation: hide 1s forwards;
}

@keyframes {
    100%{
        display: none;
    }
}

header {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

#headerwrap {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #3B3B3B
}

#bell {
    height: 25px;
}

#notification {
    position: absolute;
    top: 17.5px;
    left: 20px;
}

#menubtn {
    position: absolute;
    right: 20px;
    top: 17.5px;
}

.menulines {
    width: 30px;
    height: 4px;
    background-color: #C3AFE1;
    margin-bottom: 6px;
    border-radius: 3px;
}

#menuhl {
    position: absolute;
    top: 17.5px;
    width: 100%;
    text-align: center;
}

#menup {
    font-size: 1.5em;
    color: #C3AFE1;
    margin: 0;
}

/*Open menu*/

.top {
    animation: top 1s forwards;
}

@keyframes top {
    100% {
        transform: translateY(10px) rotate(45deg);
    }
}

.bottom {
    animation: bottom 1s forwards;
}

@keyframes bottom {
    100% {
        transform: translateY(-10px) rotate(-45deg);
    }
}

.middle {
    animation: middle 1s forwards;
}

@keyframes middle {
    100% {
        opacity: 0;
    }
}

/*Reset menu*/

.topback {
    animation: topback 1s forwards;
}

@keyframes topback {
    0% {
        transform: translateY(10px) rotate(45deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

.bottomback {
    animation: bottomback 1s forwards;
}

@keyframes bottomback {
    0% {
        transform: translateY(-10px) rotate(-45deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

.middleback {
    animation: middleback 1s forwards;
}

@keyframes middleback {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*Open up menu*/

.movebtn1 {
    animation: movebtn1 1s forwards;
}

.movebtn2 {
    animation: movebtn2 1s forwards;
}

.movebtn3 {
    animation: movebtn3 1s forwards;
}

.movebtn4 {
    animation: movebtn4 1s forwards;
}

.movebtn5 {
    animation: movebtn5 1s forwards;
}

.movebtn6 {
    animation: movebtn6 1s forwards;
}

.movebtn7 {
    animation: movebtn7 1s forwards;
}

@keyframes movebtn1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes movebtn2{
    0%{
        transform: translateY(-90px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes movebtn3{
    0%{
        transform: translateY(-180px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes movebtn4{
    0%{
        transform: translateY(-270px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes movebtn5{
    0%{
        transform: translateY(-360px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes movebtn6{
    0%{
        transform: translateY(-450px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes movebtn7{
    0%{
        transform: translateY(-540px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


/*Close menu*/

.closebtn1 {
    animation: closebtn1 1s forwards;
}

.closebtn2 {
    animation: closebtn2 1s forwards;
}

.closebtn3 {
    animation: closebtn3 1s forwards;
}

.closebtn4 {
    animation: closebtn4 1s forwards;
}

.closebtn5 {
    animation: closebtn5 1s forwards;
}

.closebtn6 {
    animation: closebtn6 1s forwards;
}

.closebtn7 {
    animation: closebtn7 1s forwards;
}

@keyframes closebtn1{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes closebtn2{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-90px);
        opacity: 0;
    }
}

@keyframes closebtn3{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-180px);
        opacity: 0;
    }
}

@keyframes closebtn4{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-270px);
        opacity: 0;
    }
}

@keyframes closebtn5{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-360px);
        opacity: 0;
    }
}

@keyframes closebtn6{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-450px);
        opacity: 0;
    }
}

@keyframes closebtn7{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(-540px);
        opacity: 0;
    }
}
